* {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}

p,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}
