:root {
  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1200px;
  // Fonts
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;
  // Font weights
  --fw-filter-btn: 500;
  --fw-header: 500;
  --fw-main-title: 900;
  --fw-about-descr: 700;
  --fw-team-subtitle: 500;
  --fw-contacts-subtitle: 500;
  --fw-portfolio-card-title: 700;
  // Font sizes
  --fs-section-title-s: 28px;
  --fs-section-title-t: 36px;
  --fs-filter-btn-s: 12px;
  --fs-filter-btn-m: 16px;
  --fs-logo: 26px;
  --fs-modal-form-label: 12px;
  --fs-modal-form-placeholder: 12px;
  --fs-modal-title: 20px;
  --fs-modal-egreement-s: 10px;
  --fs-modal-egreement-m: 12px;
  --fs-modal-egreement-d: 14px;
  --fs-header: 14px;
  --fs-header-contacts-emeil-m: 24px;
  --fs-header-contacts-phone-s: 28px;
  --fs-header-contacts-phone-m: 34px;
  --fs-header-socials-link: 18px;
  --fs-main-title-m: 26px;
  --fs-main-title-d: 44px;
  --fs-site-nav: 40px;
  --fs-subscribe-title: 14px;
  --fs-about-deacr: 14px;
  --fs-contacts-title-s: 24px;
  --fs-contacts-title-m: 28px;
  --fs-contacts-list: 18px;
  --fs-feature-title: 14px;
  --fs-feature-descr: 14px;
  --fs-feedback-form-label: 12px;
  --fs-footer-address: 14px;
  --fs-footer-title: 14px;
  --fs-portfolio-overlay: 18px;
  --fs-portfolio-card-title: 18px;
  // Line heights
  --lh-section-title-s: 1.18;
  --lh-section-title-t: 1.17;
  --lh-filter-btn: 1.63;
  --lh-logo: 1.19;
  --lh-nav: 1.18;
  --lh-subscribe-title: 1.14;
  --lh-header: 1.14;
  --lh-header-contatcts-email: 1.17;
  --lh-header-contatcts-phone-m: 1.18;
  --lh-header-socials-link: 1.22;
  --lh-main-title-m: 1.62;
  --lh-main-title-d: 1.36;
  --lh-about-descr: 1.14;
  --lh-feature-title: 1.14;
  --lh-feature-descr: 1.71;
  --lh-team-subtitle: 1.19;
  --lh-footer-address: 1.71;
  --lh-footer-title: 1.14;
  --lh-portfolio-overlay: 1.75;
  --lh-portfolio-card-title: 2;
  --lh-portfolio-card-descr: 1.88;
  --lh-contacts-list: 2;
  --lh-feedback-form-label: 1.17;
  --lh-modal-form-label: 1.17;
  --lh-modal-form-placeholder: 1.17;
  --lh-modal-title: 1.15;
  --lh-modal-egreement-s: 1.2;
  --lh-modal-egreement-m: 1.17;
  --lh-modal-egreement-d: 1.71;
  // Letter spacing
  --ls-filter-btn: 0.03em;
  --ls-logo: 0.03em;
  --ls-header: 0.02em;
  --ls-footer-address: 0.03em;
  --ls-main-title: 0.06em;
  --ls-portfolio-card-title: 0.06em;
  --ls-feedback-form-label: 0.01em;
  --ls-modal-form-label: 0.01em;
  --ls-modal-form-placeholder: 0.01em;
  --ls-modal-egreement: 0.03em;
  // Text colors
  --main-txt-cl: #757575;
  --title-txt-cl: #212121;
  --black-txt-cl: #000000;
  --white-txt-cl: #ffffff;
  --white-transparent-txt-cl: #rgba(255, 255, 255, 0.6);
  --placeholder-txt-cl: rgba(117, 117, 117, 0.5);
  // Baclground colors
  --background-dark-cl: #2f303a;
  --background-dark-o-cl: rgba(47, 48, 58, 0.8);
  --background-light-cl: #f5f4fa;
  --background-white-cl: #ffffff;
  --background-hero-cl: #c4c4c4;
  --background-dark-social-bg-cl: #44454e;
  --background-contacts-cl: #f1efef;
  // Icons color
  --icon-cl: #afb1b8;
  --icon-menu-cl: #212121;
  --icon-modal-cl: #212121;
  --icon-contacts-cl: #212121;
  // Border radius
  --border-radius: 4px;
  // Border color
  --header-border-cl: #ececec;
  --card-border-cl: #eeeeee;
  --btn-border-cl: rgba(0, 0, 0, 0.1);
  --subscribe-input-border-cl: rgba(255, 255, 255, 0.3);
  --input-border: rgba(33, 33, 33, 0.2);
  --border-header-socials: rgba(33, 33, 33, 0.2);
  // Overlay color
  --overlay-hero-cl: rgba(47, 48, 58, 0.4);
  --overlay-portfolio-cl: rgba(33, 150, 243, 0.9);
  // Backdrop color
  --backdrop-cl: rgba(0, 0, 0, 0.2);
  // Accent colors
  --accent-cl: #2196f3;
  --accent-hovered-cl: #188ce8;
  // Shadows
  --modal-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  --team-card-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  --subscribe-shadow: 0px 4px 4px 0px #00000026;
  --filter-btn-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
    0px 3px 1px 0px #0000001a;
  --portfolio-card-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
    0px 1px 1px 0px #0000001f;
  --modal-btn-shadow: 0px 4px 4px 0px #00000026;
  // Duration
  --duration: 250ms;
  // Timing function
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // Other
  --indent: 30px;
  --item: 4;
}
