%align-list {
  display: flex;
  align-items: center;
}

%centeredFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

%section-title {
  font-size: var(--fs-section-title-s);
  line-height: var(--lh-section-title-s);
  color: var(--title-txt-cl);
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: var(--fs-section-title-t);
    line-height: var(--lh-section-title-t);
  }
}
