%align-list {
  display: flex;
  align-items: center;
}

%centeredFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

%section-title {
  font-size: 28px;
  line-height: 1.18;
  color: var(--title-txt-cl);
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 1.17;
  }
}
