%align-list {
  display: flex;
  align-items: center;
}

%centeredFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

%section-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--title-txt-cl);
  text-align: center;
}
