<!-- Чим ми займаємося -->
<section class="about">
  <div class="container">
    <h2 class="about__title section-title">Чим ми займаємося</h2>
    <ul class="card-set">
      <li class="card-item about__item">
        <img
          src="./images/about/img-1.jpg"
          alt="Верстка"
          width="370"
          height="294"
        />
        <p class="about__descr">Десктопні додатки</p>
      </li>
      <li class="card-item about__item">
        <img
          src="./images/about/img-2.jpg"
          alt="Дизайн"
          width="370"
          height="294"
        />
        <p class="about__descr">Мобільні додатки</p>
      </li>
      <li class="card-item about__item">
        <img
          src="./images/about/img-3.jpg"
          alt="Зовнішнє оформлення"
          width="370"
          height="294"
        />
        <p class="about__descr">Дизайнерські рішення</p>
      </li>
    </ul>
  </div>
</section>
