<!-- Чим ми займаємося -->
<section>
  <h2>Чим ми займаємося</h2>
  <ul>
    <li>
      <img
        src="./images/about/img-1.jpg"
        alt="Верстка"
        width="370"
        height="294"
      />
    </li>
    <li>
      <img
        src="./images/about/img-2.jpg"
        alt="Дизайн"
        width="370"
        height="294"
      />
    </li>
    <li>
      <img
        src="./images/about/img-3.jpg"
        alt="Зовнішнє оформлення"
        width="370"
        height="294"
      />
    </li>
  </ul>
</section>
