<section class="section">
  <div class="container">
    <h2 class="section-title">Постійні клієнти</h2>
    <ul class="card-set">
      <li class="clients-item card-item">
        <a
          class="clients-link"
          href="./"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="YA&CO"
        >
          <svg width="106" height="60">
            <use href="./images/sprite.svg#icon-company-logo-1"></use>
          </svg>
        </a>
      </li>
      <li class="clients-item card-item">
        <a
          class="clients-link"
          href="./"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Tagline here"
        >
          <svg class="clients-icon" width="106" height="60">
            <use href="./images/sprite.svg#icon-company-logo-2"></use>
          </svg>
        </a>
      </li>
      <li class="clients-item card-item">
        <a
          class="clients-link"
          href="./"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Company"
        >
          <svg width="106" height="60">
            <use href="./images/sprite.svg#icon-company-logo-3"></use>
          </svg>
        </a>
      </li>
      <li class="clients-item card-item">
        <a
          class="clients-link"
          href="./"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Foster Peters"
        >
          <svg class="clients-icon" width="106" height="60">
            <use href="./images/sprite.svg#icon-company-logo-4"></use>
          </svg>
        </a>
      </li>
      <li class="clients-item card-item">
        <a
          class="clients-link"
          href="./"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Brand"
        >
          <svg width="106" height="60">
            <use href="./images/sprite.svg#icon-company-logo-5"></use>
          </svg>
        </a>
      </li>
      <li class="clients-item card-item">
        <a
          class="clients-link"
          href="./"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Tag Line"
        >
          <svg width="106" height="60">
            <use href="./images/sprite.svg#icon-company-logo-6"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
