<section class="section">
  <div class="container">
    <div class="contacts-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.7792678295473!2d30.535810876859767!3d50.42658408908152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf0e033ecbe9%3A0x57a4dffefec77da0!2z0LHRg9C70YzQstCw0YAg0JvQtdGB0ZYg0KPQutGA0LDRl9C90LrQuCwgMjYsINCa0LjRl9CyLCAwMjAwMA!5e0!3m2!1suk!2sua!4v1705710745701!5m2!1suk!2sua"
        width="700"
        height="500"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <div class="contacts-wrap">
        <h1 class="section-title">Наші контакти</h1>

        <h2 class="contacts-subtitle">Київ</h2>
        <address>
          <ul class="contacts-list">
            <li>
              <a
                class="contacts-link"
                href="https://maps.app.goo.gl/UUuDZ8BtZKW6yukz5"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="contacts-icon" width="24" height="24">
                  <use
                    class="contacts-icon-use"
                    href="./images/sprite.svg#icon-map-pin"
                  ></use>
                </svg>
                м. Київ, пр-т Лесі Українки, 26
              </a>
            </li>
            <li>
              <a class="contacts-link" href="mailto:info@devstudio.com">
                <svg class="contacts-icon" width="24" height="24">
                  <use
                    class="contacts-icon-use"
                    href="./images/sprite.svg#icon-mail"
                  ></use>
                </svg>
                info@devstudio.com</a
              >
            </li>
            <li>
              <a class="contacts-link" href="tel:+380961111111">
                <svg class="contacts-icon" width="24" height="24">
                  <use
                    class="contacts-icon-use"
                    href="./images/sprite.svg#icon-phone"
                  ></use>
                </svg>
                +38 096 111 11 11</a
              >
            </li>
          </ul>
        </address>
      </div>
    </div>
  </div>
</section>
