<section class="feedback section">
  <div class="container">
    <h2 class="feedback__title">Ви також можете задати питання через форму:</h2>
    <form class="feedback-form" name="feedback-form" autocomplete="on">
      <div class="feedback-form__group" role="group">
        <div class="feedback-form__item card-item">
          <label class="feedback-form__wrap">
            <span class="feedback-form__label">Ім'я</span>
            <input
              class="feedback-form__input"
              type="text"
              name="username"
              placeholder="Степан"
              pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
              title="Username must be two words separated by space."
            />
          </label>
          <label class="feedback-form__wrap">
            <span class="feedback-form__label">Телефон</span>
            <input
              class="feedback-form__input"
              type="tel"
              name="userphone"
              placeholder="+38(012)345-67-89"
              minlength="17"
              maxlength="17"
              id="phone"
              required
            />
          </label>
          <label class="feedback-form__wrap">
            <span class="feedback-form__label">E-mail</span>
            <input
              class="feedback-form__input"
              type="email"
              name="useremail"
              placeholder="example@mail.com"
              required
            />
          </label>
        </div>

        <div class="feedback-form__item card-item" feedback__message>
          <span class="feedback-form__label feedback-form__label--transparent"
            >Повідомлення</span
          >
          <textarea
            class="feedback-form__input feedback-form__message"
            name="feedback"
            placeholder="Ваше питання"
          ></textarea>
        </div>
      </div>
      <button class="feedback-form__btn btn" type="submit">Відправити</button>
    </form>
  </div>
</section>
