<!-- Портфоліо фільтер -->
<section>
  <h1 class="visually-hidden">Портфоліо</h1>
  <ul>
    <li>
      <button class="filter-btn btn" type="button">Усі</button>
    </li>
    <li>
      <button class="filter-btn btn" type="button">Веб-сайти</button>
    </li>
    <li>
      <button class="filter-btn btn" type="button">Додатки</button>
    </li>
    <li>
      <button class="filter-btn btn" type="button">Дизайн</button>
    </li>
    <li>
      <button class="filter-btn btn" type="button">Маркетинг</button>
    </li>
  </ul>
</section>
