<!-- Футер -->
<footer class="footer">
  <div class="footer__container container">
    <div>
      <a class="logo footer__logo" href="./index.html"
        >Web<span class="logo--white">Studio</span></a
      >
      <address class="footer__address">
        <ul>
          <li class="footer__item">
            <a
              class="footer__descr"
              href="https://maps.app.goo.gl/8uB5yxPXKVD9QiLn8"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >м. Київ, пр-т Лесі Українки, 26</a
            >
          </li>
          <li class="footer__item">
            <a class="footer__contacts" href="mailto:info@devstudio.com"
              >info@devstudio.com</a
            >
          </li>
          <li class="footer__item">
            <a class="footer__contacts" href="tel:+380961111111"
              >+38 096 111 11 11</a
            >
          </li>
        </ul>
      </address>
    </div>
    <div class="footer__wrap">
      <h2 class="footer__title">приєднуйтесь</h2>
      <ul class="social__list">
        <li>
          <a
            class="social__link social__link--dark"
            href="https://www.instagram.com/"
            target="_blank"
            rel="noopener noreferrer"
            area-label="instagram"
          >
            <svg class="social__icons" width="20" height="20">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="social__link social__link--dark"
            href="https://twitter.com/"
            target="_blank"
            rel="noopener noreferrer"
            area-label="twitter"
          >
            <svg class="social__icons" width="20" height="20">
              <use href="./images/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="social__link social__link--dark"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            area-label="facebook"
          >
            <svg class="social__icons" width="20" height="20">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="social__link social__link--dark"
            href="https://www.linkedin.com/"
            target="_blank"
            rel="noopener noreferrer"
            area-label="linkedin"
          >
            <svg class="social__icons" width="20" height="20">
              <use href="./images/sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="subscribe">
      <h2 class="subscribe__title">Підпишіться на розсилку</h2>
      <form class="subscribe__form" autocomplete="off">
        <input
          class="subscribe__input"
          type="email"
          name="email"
          placeholder="E-mail"
        />
        <button class="subscribe__btn btn" type="submit">
          Підписатися
          <svg class="subscribe__icon" width="24" height="24">
            <use href="./images/sprite.svg#icon-send"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</footer>
