<!-- Футер -->
<footer class="footer">
  <a class="logo" href="./index.html"
    >Web<span class="logo-white">Studio</span></a
  >
  <address class="footer-address">
    <a
      class="footer-address_descr"
      href="https://maps.app.goo.gl/8uB5yxPXKVD9QiLn8"
      target="_blank"
      rel="noopener noreferrer nofollow"
      >м. Київ, пр-т Лесі Українки, 26</a
    >
    <br />
    <a class="footer-address_contacts" href="mailto:info@devstudio.com"
      >info@devstudio.com</a
    >
    <br />
    <a class="footer-address_contacts" href="tel:+380961111111"
      >+38 096 111 11 11</a
    >
  </address>
</footer>
