<!-- Хедер -->
<header class="header">
  <!-- Навігація -->
  <nav class="site-nav">
    <a class="logo" href="./index.html"
      >Web<span class="logo-black">Studio</span></a
    >
    <ul>
      <li>
        <a class="header-link" nav-link href="./index.html">Студія</a>
      </li>
      <li>
        <a class="header-link" nav-link href="">Портфоліо</a>
      </li>
      <li>
        <a class="header-link" nav-link href="">Контакти</a>
      </li>
    </ul>
  </nav>
  <!-- Контакти хедер -->
  <ul>
    <li>
      <a class="header-link" href="mailto:info@devstudio.com"
        >info@devstudio.com</a
      >
    </li>
    <li>
      <a class="header-link" href="tel:+380961111111">+38 096 111 11 11</a>
    </li>
  </ul>
</header>
