<!-- Хедер -->
<header class="header header__line">
  <div class="container header__container">
    <!-- Навігація -->
    <nav class="site-nav">
      <a
        class="logo animate__animated animate__flip animate__delay-1s"
        href="./index.html"
        >Web<span class="logo--black">Studio</span></a
      >
      <ul class="site-nav__list header__nav-list">
        <li>
          <a class="site-nav__link site-nav__link--current" href="./index.html"
            >Студія</a
          >
        </li>
        <li>
          <a class="site-nav__link" href="./portfolio.html">Портфоліо</a>
        </li>
        <li>
          <a class="site-nav__link" href="./contacts.html">Контакти</a>
        </li>
      </ul>
    </nav>
    <!-- Контакти хедер -->
    <ul class="header-contacts__list">
      <li class="header-contacts__item">
        <a class="header-contacts__link" href="mailto:info@devstudio.com"
          ><svg class="header-contacts__icon" width="16" height="12">
            <use href="./images/sprite.svg#icon-envelope"></use>
          </svg>
          info@devstudio.com
        </a>
      </li>
      <li class="header-contacts__item">
        <a class="header-contacts__link" href="tel:+380961111111">
          <svg class="header-contacts__icon" width="10" height="16">
            <use href="./images/sprite.svg#icon-smartphone"></use>
          </svg>
          +38 096 111 11 11
        </a>
      </li>
    </ul>
  </div>
</header>
