<section class="filter">
  <div class="container">
    <!-- Портфоліо фільтер -->
    <h1 class="visually-hidden">Портфоліо</h1>
    <ul class="filter__list">
      <li>
        <input
          class="filter__btn btn visually-hidden"
          type="radio"
          name="filter"
          value="Усі"
          id="all"
          checked
        />
        <label class="filter__btn btn" for="all">Усі</label>
      </li>
      <li>
        <input
          class="filter__btn btn visually-hidden"
          type="radio"
          name="filter"
          value="Веб-сайти"
          id="web-sites"
        />
        <label class="filter__btn btn" for="web-sites">Веб-сайти</label>
      </li>
      <li>
        <input
          class="filter__btn btn visually-hidden"
          type="radio"
          name="filter"
          value="Додатки"
          id="apps"
        />
        <label class="filter__btn btn" for="apps">Додатки</label>
      </li>
      <li>
        <input
          class="filter__btn btn visually-hidden"
          type="radio"
          name="filter"
          value="Дизайн"
          id="design"
        />
        <label class="filter__btn btn" for="design">Дизайн</label>
      </li>
      <li>
        <input
          class="filter__btn btn visually-hidden"
          type="radio"
          name="filter"
          value="Маркетинг"
          id="marketing"
        />
        <label class="filter__btn btn" for="marketing">Маркетинг</label>
      </li>
    </ul>
    <!-- Галерея -->
    <h2 class="visually-hidden">Галерея</h2>
    <ul class="portfolio__list card-set">
      <li class="card-item portfolio__item">
        <a
          class="portfolio__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="portfolio__thumb">
            <picture>
              <!-- desktop screen -->
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/gallery/gallery-1_d.webp    1x,
                  ./images/gallery/gallery-1@2x_d.webp 2x,
                  ./images/gallery/gallery-1@3x_d.webp 3x,
                  ./images/gallery/gallery-1@4x_d.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/gallery/gallery-1_d.jpg    1x,
                  ./images/gallery/gallery-1@2x_d.jpg 2x,
                  ./images/gallery/gallery-1@3x_d.jpg 3x,
                  ./images/gallery/gallery-1@4x_d.jpg 4x
                "
                type="image/jpg"
              />
              <!-- tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/gallery/gallery-1_t.webp    1x,
                  ./images/gallery/gallery-1@2x_t.webp 2x,
                  ./images/gallery/gallery-1@3x_t.webp 3x,
                  ./images/gallery/gallery-1@4x_t.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/gallery/gallery-1_t.jpg    1x,
                  ./images/gallery/gallery-1@2x_t.jpg 2x,
                  ./images/gallery/gallery-1@3x_t.jpg 3x,
                  ./images/gallery/gallery-1@4x_t.jpg 4x
                "
                type="image/jpg"
              />
              <!-- mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/gallery/gallery-1_m.webp    1x,
                  ./images/gallery/gallery-1@2x_m.webp 2x,
                  ./images/gallery/gallery-1@3x_m.webp 3x,
                  ./images/gallery/gallery-1@4x_m.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/gallery/gallery-1_m.jpg    1x,
                  ./images/gallery/gallery-1@2x_m.jpg 2x,
                  ./images/gallery/gallery-1@3x_m.jpg 3x,
                  ./images/gallery/gallery-1@4x_m.jpg 4x
                "
                type="image/jpg"
              />
              <!-- fallback -->
              <img
                src="./images/gallery/gallery-1_m.jpg"
                alt="Ноутбук з контентом"
                width="370"
                height="294"
              />
            </picture>
            <div class="portfolio__overlay">
              <p class="portfolio__overlay-descr">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="portfolio__card-container">
            <h3 class="portfolio__card-title">Технокряк</h3>
            <p class="portfolio__card-descr">Веб-сайт</p>
          </div>
        </a>
      </li>
      <li class="card-item portfolio__item">
        <a
          class="portfolio__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="portfolio__thumb">
            <picture>
              <!-- desktop screen -->
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/gallery/gallery-2_d.webp    1x,
                  ./images/gallery/gallery-2@2x_d.webp 2x,
                  ./images/gallery/gallery-2@3x_d.webp 3x,
                  ./images/gallery/gallery-2@4x_d.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/gallery/gallery-2_d.jpg    1x,
                  ./images/gallery/gallery-2@2x_d.jpg 2x,
                  ./images/gallery/gallery-2@3x_d.jpg 3x,
                  ./images/gallery/gallery-2@4x_d.jpg 4x
                "
                type="image/jpg"
              />
              <!-- tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/gallery/gallery-2_t.webp    1x,
                  ./images/gallery/gallery-2@2x_t.webp 2x,
                  ./images/gallery/gallery-2@3x_t.webp 3x,
                  ./images/gallery/gallery-2@4x_t.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/gallery/gallery-2_t.jpg    1x,
                  ./images/gallery/gallery-2@2x_t.jpg 2x,
                  ./images/gallery/gallery-2@3x_t.jpg 3x,
                  ./images/gallery/gallery-2@4x_t.jpg 4x
                "
                type="image/jpg"
              />
              <!-- mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/gallery/gallery-2_m.webp    1x,
                  ./images/gallery/gallery-2@2x_m.webp 2x,
                  ./images/gallery/gallery-2@3x_m.webp 3x,
                  ./images/gallery/gallery-2@4x_m.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/gallery/gallery-2_m.jpg    1x,
                  ./images/gallery/gallery-2@2x_m.jpg 2x,
                  ./images/gallery/gallery-2@3x_m.jpg 3x,
                  ./images/gallery/gallery-2@4x_m.jpg 4x
                "
                type="image/jpg"
              />
              <!-- fallback -->
              <img
                src="./images/gallery/gallery-2_m.jpg"
                alt="Два баскетболісти"
                width="370"
                height="294"
              />
            </picture>
            <div class="portfolio__overlay">
              <p class="portfolio__overlay-descr">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="portfolio__card-container">
            <h3 class="portfolio__card-title">
              Постер <span lang="en">New Orlean vs Golden Star</span>
            </h3>
            <p class="portfolio__card-descr">Дизайн</p>
          </div>
        </a>
      </li>
      <li class="card-item portfolio__item">
        <a
          class="portfolio__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="portfolio__thumb">
            <picture>
              <!-- desktop screen -->
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/gallery/gallery-3_d.webp    1x,
                  ./images/gallery/gallery-3@2x_d.webp 2x,
                  ./images/gallery/gallery-3@3x_d.webp 3x,
                  ./images/gallery/gallery-3@4x_d.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/gallery/gallery-3_d.jpg    1x,
                  ./images/gallery/gallery-3@2x_d.jpg 2x,
                  ./images/gallery/gallery-3@3x_d.jpg 3x,
                  ./images/gallery/gallery-3@4x_d.jpg 4x
                "
                type="image/jpg"
              />
              <!-- tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/gallery/gallery-3_t.webp    1x,
                  ./images/gallery/gallery-3@2x_t.webp 2x,
                  ./images/gallery/gallery-3@3x_t.webp 3x,
                  ./images/gallery/gallery-3@4x_t.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/gallery/gallery-3_t.jpg    1x,
                  ./images/gallery/gallery-3@2x_t.jpg 2x,
                  ./images/gallery/gallery-3@3x_t.jpg 3x,
                  ./images/gallery/gallery-3@4x_t.jpg 4x
                "
                type="image/jpg"
              />
              <!-- mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/gallery/gallery-3_m.webp    1x,
                  ./images/gallery/gallery-3@2x_m.webp 2x,
                  ./images/gallery/gallery-3@3x_m.webp 3x,
                  ./images/gallery/gallery-3@4x_m.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/gallery/gallery-3_m.jpg    1x,
                  ./images/gallery/gallery-3@2x_m.jpg 2x,
                  ./images/gallery/gallery-3@3x_m.jpg 3x,
                  ./images/gallery/gallery-3@4x_m.jpg 4x
                "
                type="image/jpg"
              />
              <!-- fallback -->
              <img
                src="./images/gallery/gallery-3_m.jpg"
                alt="Логотип ресторана"
                width="370"
                height="294"
              />
            </picture>

            <div class="portfolio__overlay">
              <p class="portfolio__overlay-descr">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="portfolio__card-container">
            <h3 class="portfolio__card-title">
              Ресторан <span lang="en">Seafood</span>
            </h3>
            <p class="portfolio__card-descr">Додаток</p>
          </div>
        </a>
      </li>
      <li class="card-item portfolio__item">
        <a
          class="portfolio__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="portfolio__thumb">
            <picture>
              <!-- desktop screen -->
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/gallery/gallery-4_d.webp    1x,
                  ./images/gallery/gallery-4@2x_d.webp 2x,
                  ./images/gallery/gallery-4@3x_d.webp 3x,
                  ./images/gallery/gallery-4@4x_d.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/gallery/gallery-4_d.jpg    1x,
                  ./images/gallery/gallery-4@2x_d.jpg 2x,
                  ./images/gallery/gallery-4@3x_d.jpg 3x,
                  ./images/gallery/gallery-4@4x_d.jpg 4x
                "
                type="image/jpg"
              />
              <!-- tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/gallery/gallery-4_t.webp    1x,
                  ./images/gallery/gallery-4@2x_t.webp 2x,
                  ./images/gallery/gallery-4@3x_t.webp 3x,
                  ./images/gallery/gallery-4@4x_t.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/gallery/gallery-4_t.jpg    1x,
                  ./images/gallery/gallery-4@2x_t.jpg 2x,
                  ./images/gallery/gallery-4@3x_t.jpg 3x,
                  ./images/gallery/gallery-4@4x_t.jpg 4x
                "
                type="image/jpg"
              />
              <!-- mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/gallery/gallery-4_m.webp    1x,
                  ./images/gallery/gallery-4@2x_m.webp 2x,
                  ./images/gallery/gallery-4@3x_m.webp 3x,
                  ./images/gallery/gallery-4@4x_m.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/gallery/gallery-4_m.jpg    1x,
                  ./images/gallery/gallery-4@2x_m.jpg 2x,
                  ./images/gallery/gallery-4@3x_m.jpg 3x,
                  ./images/gallery/gallery-4@4x_m.jpg 4x
                "
                type="image/jpg"
              />
              <!-- fallback -->
              <img
                src="./images/gallery/gallery-4_m.jpg"
                alt="Навушники"
                width="370"
                height="294"
              />
            </picture>

            <div class="portfolio__overlay">
              <p class="portfolio__overlay-descr">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="portfolio__card-container">
            <h3 class="portfolio__card-title">
              Проєкт <span lang="en">Prime</span>
            </h3>
            <p class="portfolio__card-descr">Маркетинг</p>
          </div></a
        >
      </li>
      <li class="card-item portfolio__item">
        <a
          class="portfolio__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="portfolio__thumb">
            <picture>
              <!-- desktop screen -->
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/gallery/gallery-5_d.webp    1x,
                  ./images/gallery/gallery-5@2x_d.webp 2x,
                  ./images/gallery/gallery-5@3x_d.webp 3x,
                  ./images/gallery/gallery-5@4x_d.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/gallery/gallery-5_d.jpg    1x,
                  ./images/gallery/gallery-5@2x_d.jpg 2x,
                  ./images/gallery/gallery-5@3x_d.jpg 3x,
                  ./images/gallery/gallery-5@4x_d.jpg 4x
                "
                type="image/jpg"
              />
              <!-- tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/gallery/gallery-5_t.webp    1x,
                  ./images/gallery/gallery-5@2x_t.webp 2x,
                  ./images/gallery/gallery-5@3x_t.webp 3x,
                  ./images/gallery/gallery-5@4x_t.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/gallery/gallery-5_t.jpg    1x,
                  ./images/gallery/gallery-5@2x_t.jpg 2x,
                  ./images/gallery/gallery-5@3x_t.jpg 3x,
                  ./images/gallery/gallery-5@4x_t.jpg 4x
                "
                type="image/jpg"
              />
              <!-- mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/gallery/gallery-5_m.webp    1x,
                  ./images/gallery/gallery-5@2x_m.webp 2x,
                  ./images/gallery/gallery-5@3x_m.webp 3x,
                  ./images/gallery/gallery-5@4x_m.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/gallery/gallery-5_m.jpg    1x,
                  ./images/gallery/gallery-5@2x_m.jpg 2x,
                  ./images/gallery/gallery-5@3x_m.jpg 3x,
                  ./images/gallery/gallery-5@4x_m.jpg 4x
                "
                type="image/jpg"
              />
              <!-- fallback -->
              <img
                src="./images/gallery/gallery-5_m.jpg"
                alt="Дві коробки"
                width="370"
                height="294"
              />
            </picture>
            <div class="portfolio__overlay">
              <p class="portfolio__overlay-descr">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="portfolio__card-container">
            <h3 class="portfolio__card-title">
              Проєкт <span lang="en">Boxes</span>
            </h3>
            <p class="portfolio__card-descr">Додаток</p>
          </div></a
        >
      </li>
      <li class="card-item portfolio__item">
        <a
          class="portfolio__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="portfolio__thumb">
            <picture>
              <!-- desktop screen -->
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/gallery/gallery-6_d.webp    1x,
                  ./images/gallery/gallery-6@2x_d.webp 2x,
                  ./images/gallery/gallery-6@3x_d.webp 3x,
                  ./images/gallery/gallery-6@4x_d.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/gallery/gallery-6_d.jpg    1x,
                  ./images/gallery/gallery-6@2x_d.jpg 2x,
                  ./images/gallery/gallery-6@3x_d.jpg 3x,
                  ./images/gallery/gallery-6@4x_d.jpg 4x
                "
                type="image/jpg"
              />
              <!-- tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/gallery/gallery-6_t.webp    1x,
                  ./images/gallery/gallery-6@2x_t.webp 2x,
                  ./images/gallery/gallery-6@3x_t.webp 3x,
                  ./images/gallery/gallery-6@4x_t.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/gallery/gallery-6_t.jpg    1x,
                  ./images/gallery/gallery-6@2x_t.jpg 2x,
                  ./images/gallery/gallery-6@3x_t.jpg 3x,
                  ./images/gallery/gallery-6@4x_t.jpg 4x
                "
                type="image/jpg"
              />
              <!-- mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/gallery/gallery-6_m.webp    1x,
                  ./images/gallery/gallery-6@2x_m.webp 2x,
                  ./images/gallery/gallery-6@3x_m.webp 3x,
                  ./images/gallery/gallery-6@4x_m.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/gallery/gallery-6_m.jpg    1x,
                  ./images/gallery/gallery-6@2x_m.jpg 2x,
                  ./images/gallery/gallery-6@3x_m.jpg 3x,
                  ./images/gallery/gallery-6@4x_m.jpg 4x
                "
                type="image/jpg"
              />
              <!-- fallback -->
              <img
                src="./images/gallery/gallery-6_m.jpg"
                alt="Монітор з зображенням"
                width="370"
                height="294"
              />
            </picture>
            <div class="portfolio__overlay">
              <p class="portfolio__overlay-descr">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="portfolio__card-container">
            <h3 class="portfolio__card-title" lang="en">
              Inspiration has no Borders
            </h3>
            <p class="portfolio__card-descr">Веб-сайт</p>
          </div></a
        >
      </li>
      <li class="card-item portfolio__item">
        <a
          class="portfolio__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="portfolio__thumb">
            <picture>
              <!-- desktop screen -->
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/gallery/gallery-7_d.webp    1x,
                  ./images/gallery/gallery-7@2x_d.webp 2x,
                  ./images/gallery/gallery-7@3x_d.webp 3x,
                  ./images/gallery/gallery-7@4x_d.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/gallery/gallery-7_d.jpg    1x,
                  ./images/gallery/gallery-7@2x_d.jpg 2x,
                  ./images/gallery/gallery-7@3x_d.jpg 3x,
                  ./images/gallery/gallery-7@4x_d.jpg 4x
                "
                type="image/jpg"
              />
              <!-- tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/gallery/gallery-7_t.webp    1x,
                  ./images/gallery/gallery-7@2x_t.webp 2x,
                  ./images/gallery/gallery-7@3x_t.webp 3x,
                  ./images/gallery/gallery-7@4x_t.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/gallery/gallery-7_t.jpg    1x,
                  ./images/gallery/gallery-7@2x_t.jpg 2x,
                  ./images/gallery/gallery-7@3x_t.jpg 3x,
                  ./images/gallery/gallery-7@4x_t.jpg 4x
                "
                type="image/jpg"
              />
              <!-- mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/gallery/gallery-7_m.webp    1x,
                  ./images/gallery/gallery-7@2x_m.webp 2x,
                  ./images/gallery/gallery-7@3x_m.webp 3x,
                  ./images/gallery/gallery-7@4x_m.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/gallery/gallery-7_m.jpg    1x,
                  ./images/gallery/gallery-7@2x_m.jpg 2x,
                  ./images/gallery/gallery-7@3x_m.jpg 3x,
                  ./images/gallery/gallery-7@4x_m.jpg 4x
                "
                type="image/jpg"
              />
              <!-- fallback -->
              <img
                src="./images/gallery/gallery-7_m.jpg"
                alt="Відкрита книга"
                width="370"
                height="294"
              />
            </picture>
            <div class="portfolio__overlay">
              <p class="portfolio__overlay-descr">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="portfolio__card-container">
            <h3 class="portfolio__card-title">
              Видання <span lang="en">Limited Edition</span>
            </h3>
            <p class="portfolio__card-descr">Дизайн</p>
          </div></a
        >
      </li>
      <li class="card-item portfolio__item">
        <a
          class="portfolio__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="portfolio__thumb">
            <picture>
              <!-- desktop screen -->
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/gallery/gallery-8_d.webp    1x,
                  ./images/gallery/gallery-8@2x_d.webp 2x,
                  ./images/gallery/gallery-8@3x_d.webp 3x,
                  ./images/gallery/gallery-8@4x_d.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/gallery/gallery-8_d.jpg    1x,
                  ./images/gallery/gallery-8@2x_d.jpg 2x,
                  ./images/gallery/gallery-8@3x_d.jpg 3x,
                  ./images/gallery/gallery-8@4x_d.jpg 4x
                "
                type="image/jpg"
              />
              <!-- tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/gallery/gallery-8_t.webp    1x,
                  ./images/gallery/gallery-8@2x_t.webp 2x,
                  ./images/gallery/gallery-8@3x_t.webp 3x,
                  ./images/gallery/gallery-8@4x_t.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/gallery/gallery-8_t.jpg    1x,
                  ./images/gallery/gallery-8@2x_t.jpg 2x,
                  ./images/gallery/gallery-8@3x_t.jpg 3x,
                  ./images/gallery/gallery-8@4x_t.jpg 4x
                "
                type="image/jpg"
              />
              <!-- mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/gallery/gallery-8_m.webp    1x,
                  ./images/gallery/gallery-8@2x_m.webp 2x,
                  ./images/gallery/gallery-8@3x_m.webp 3x,
                  ./images/gallery/gallery-8@4x_m.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/gallery/gallery-8_m.jpg    1x,
                  ./images/gallery/gallery-8@2x_m.jpg 2x,
                  ./images/gallery/gallery-8@3x_m.jpg 3x,
                  ./images/gallery/gallery-8@4x_m.jpg 4x
                "
                type="image/jpg"
              />
              <!-- fallback -->
              <img
                src="./images/gallery/gallery-8_m.jpg"
                alt="Бірочка"
                width="370"
                height="294"
              />
            </picture>
            <div class="portfolio__overlay">
              <p class="portfolio__overlay-descr">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="portfolio__card-container">
            <h3 class="portfolio__card-title">
              Проєкт <span lang="en">LAB</span>
            </h3>
            <p class="portfolio__card-descr">Маркетинг</p>
          </div></a
        >
      </li>
      <li class="card-item portfolio__item">
        <a
          class="portfolio__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="portfolio__thumb">
            <picture>
              <!-- desktop screen -->
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/gallery/gallery-9_d.webp    1x,
                  ./images/gallery/gallery-9@2x_d.webp 2x,
                  ./images/gallery/gallery-9@3x_d.webp 3x,
                  ./images/gallery/gallery-9@4x_d.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1200px)"
                srcset="
                  ./images/gallery/gallery-9_d.jpg    1x,
                  ./images/gallery/gallery-9@2x_d.jpg 2x,
                  ./images/gallery/gallery-9@3x_d.jpg 3x,
                  ./images/gallery/gallery-9@4x_d.jpg 4x
                "
                type="image/jpg"
              />
              <!-- tablet screen -->
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/gallery/gallery-9_t.webp    1x,
                  ./images/gallery/gallery-9@2x_t.webp 2x,
                  ./images/gallery/gallery-9@3x_t.webp 3x,
                  ./images/gallery/gallery-9@4x_t.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/gallery/gallery-9_t.jpg    1x,
                  ./images/gallery/gallery-9@2x_t.jpg 2x,
                  ./images/gallery/gallery-9@3x_t.jpg 3x,
                  ./images/gallery/gallery-9@4x_t.jpg 4x
                "
                type="image/jpg"
              />
              <!-- mobile screen -->
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/gallery/gallery-9_m.webp    1x,
                  ./images/gallery/gallery-9@2x_m.webp 2x,
                  ./images/gallery/gallery-9@3x_m.webp 3x,
                  ./images/gallery/gallery-9@4x_m.webp 4x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  ./images/gallery/gallery-9_m.jpg    1x,
                  ./images/gallery/gallery-9@2x_m.jpg 2x,
                  ./images/gallery/gallery-9@3x_m.jpg 3x,
                  ./images/gallery/gallery-9@4x_m.jpg 4x
                "
                type="image/jpg"
              />
              <!-- fallback -->
              <img
                src="./images/gallery/gallery-9_m.jpg"
                alt="Ноутбук з програмним забезпеченням"
                width="370"
                height="294"
              />
            </picture>
            <div class="portfolio__overlay">
              <p class="portfolio__overlay-descr">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="portfolio__card-container">
            <h3 class="portfolio__card-title" lang="en">Growing Business</h3>
            <p class="portfolio__card-descr">Додаток</p>
          </div></a
        >
      </li>
    </ul>
  </div>
</section>
