<section class="filter">
  <div class="container">
    <!-- Портфоліо фільтер -->
    <h1 class="visually-hidden">Портфоліо</h1>
    <ul class="filter__list">
      <li>
        <input
          class="filter__btn btn visually-hidden"
          type="radio"
          name="filter"
          value="Усі"
          id="all"
          checked
        />
        <label class="filter__btn btn" for="all">Усі</label>
      </li>
      <li>
        <input
          class="filter__btn btn visually-hidden"
          type="radio"
          name="filter"
          value="Веб-сайти"
          id="web-sites"
        />
        <label class="filter__btn btn" for="web-sites">Веб-сайти</label>
      </li>
      <li>
        <input
          class="filter__btn btn visually-hidden"
          type="radio"
          name="filter"
          value="Додатки"
          id="apps"
        />
        <label class="filter__btn btn" for="apps">Додатки</label>
      </li>
      <li>
        <input
          class="filter__btn btn visually-hidden"
          type="radio"
          name="filter"
          value="Дизайн"
          id="design"
        />
        <label class="filter__btn btn" for="design">Дизайн</label>
      </li>
      <li>
        <input
          class="filter__btn btn visually-hidden"
          type="radio"
          name="filter"
          value="Маркетинг"
          id="marketing"
        />
        <label class="filter__btn btn" for="marketing">Маркетинг</label>
      </li>
    </ul>
    <!-- Галерея -->
    <h2 class="visually-hidden">Галерея</h2>
    <ul class="portfolio__list card-set">
      <li class="card-item portfolio__item">
        <a
          class="portfolio__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="portfolio__thumb">
            <img
              src="./images/gallery/img-1.jpg"
              alt="Ноутбук з контентом"
              width="370"
              height="294"
            />
            <div class="portfolio__overlay">
              <p class="portfolio__overlay-descr">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="portfolio__card-container">
            <h3 class="portfolio__card-title">Технокряк</h3>
            <p class="portfolio__card-descr">Веб-сайт</p>
          </div>
        </a>
      </li>
      <li class="card-item portfolio__item">
        <a
          class="portfolio__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="portfolio__thumb">
            <img
              src="./images/gallery/img-2.jpg"
              alt="Два баскетболісти"
              width="370"
              height="294"
            />
            <div class="portfolio__overlay">
              <p class="portfolio__overlay-descr">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="portfolio__card-container">
            <h3 class="portfolio__card-title">
              Постер <span lang="en">New Orlean vs Golden Star</span>
            </h3>
            <p class="portfolio__card-descr">Дизайн</p>
          </div>
        </a>
      </li>
      <li class="card-item portfolio__item">
        <a
          class="portfolio__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="portfolio__thumb">
            <img
              src="./images/gallery/img-3.jpg"
              alt="Логотип ресторана"
              width="370"
              height="294"
            />
            <div class="portfolio__overlay">
              <p class="portfolio__overlay-descr">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="portfolio__card-container">
            <h3 class="portfolio__card-title">
              Ресторан <span lang="en">Seafood</span>
            </h3>
            <p class="portfolio__card-descr">Додаток</p>
          </div>
        </a>
      </li>
      <li class="card-item portfolio__item">
        <a
          class="portfolio__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="portfolio__thumb">
            <img
              src="./images/gallery/img-4.jpg"
              alt="Навушники"
              width="370"
              height="294"
            />
            <div class="portfolio__overlay">
              <p class="portfolio__overlay-descr">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="portfolio__card-container">
            <h3 class="portfolio__card-title">
              Проєкт <span lang="en">Prime</span>
            </h3>
            <p class="portfolio__card-descr">Маркетинг</p>
          </div></a
        >
      </li>
      <li class="card-item portfolio__item">
        <a
          class="portfolio__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="portfolio__thumb">
            <img
              src="./images/gallery/img-5.jpg"
              alt="Дві коробки"
              width="370"
              height="294"
            />
            <div class="portfolio__overlay">
              <p class="portfolio__overlay-descr">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="portfolio__card-container">
            <h3 class="portfolio__card-title">
              Проєкт <span lang="en">Boxes</span>
            </h3>
            <p class="portfolio__card-descr">Додаток</p>
          </div></a
        >
      </li>
      <li class="card-item portfolio__item">
        <a
          class="portfolio__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="portfolio__thumb">
            <img
              src="./images/gallery/img-6.jpg"
              alt="Монітор з зображенням"
              width="370"
              height="294"
            />
            <div class="portfolio__overlay">
              <p class="portfolio__overlay-descr">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="portfolio__card-container">
            <h3 class="portfolio__card-title" lang="en">
              Inspiration has no Borders
            </h3>
            <p class="portfolio__card-descr">Веб-сайт</p>
          </div></a
        >
      </li>
      <li class="card-item portfolio__item">
        <a
          class="portfolio__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="portfolio__thumb">
            <img
              src="./images/gallery/img-7.jpg"
              alt="Відкрита книга"
              width="370"
              height="294"
            />
            <div class="portfolio__overlay">
              <p class="portfolio__overlay-descr">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="portfolio__card-container">
            <h3 class="portfolio__card-title">
              Видання <span lang="en">Limited Edition</span>
            </h3>
            <p class="portfolio__card-descr">Дизайн</p>
          </div></a
        >
      </li>
      <li class="card-item portfolio__item">
        <a
          class="portfolio__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="portfolio__thumb">
            <img
              src="./images/gallery/img-8.jpg"
              alt="Бірочка"
              width="370"
              height="294"
            />
            <div class="portfolio__overlay">
              <p class="portfolio__overlay-descr">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="portfolio__card-container">
            <h3 class="portfolio__card-title">
              Проєкт <span lang="en">LAB</span>
            </h3>
            <p class="portfolio__card-descr">Маркетинг</p>
          </div></a
        >
      </li>
      <li class="card-item portfolio__item">
        <a
          class="portfolio__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="portfolio__thumb">
            <img
              src="./images/gallery/img-9.jpg"
              alt="Ноутбук з програмним забезпеченням"
              width="370"
              height="294"
            />
            <div class="portfolio__overlay">
              <p class="portfolio__overlay-descr">
                Ресурс пропонує комплексні пропозиції з різним рівнем
                функціоналу та сервісів. Все це дозволить відвідувачу отримати
                вичерпні відомості про компанію чи приватну особу.
              </p>
            </div>
          </div>
          <div class="portfolio__card-container">
            <h3 class="portfolio__card-title" lang="en">Growing Business</h3>
            <p class="portfolio__card-descr">Додаток</p>
          </div></a
        >
      </li>
    </ul>
  </div>
</section>
