<!-- Наша команда -->
<section>
  <h2 class="section-title">Наша команда</h2>
  <ul>
    <li>
      <img
        src="./images/team/img-1.jpg"
        alt="Ігор Дем'яненко"
        width="270"
        height="260"
      />
      <h3>Ігор Дем'яненко</h3>
      <p lang="en">Product Designer</p>
    </li>
    <li>
      <img
        src="./images/team/img-2.jpg"
        alt="Ольга Рєпіна"
        width="270"
        height="260"
      />
      <h3>Ольга Рєпіна</h3>
      <p lang="en">Frontend Developer</p>
    </li>
    <li>
      <img
        src="./images/team/img-3.jpg"
        alt="Микола Тарасов"
        width="270"
        height="260"
      />
      <h3>Микола Тарасов</h3>
      <p lang="en">Marketing</p>
    </li>
    <li>
      <img
        src="./images/team/img-4.jpg"
        alt="Михайло Єрмаков"
        width="270"
        height="260"
      />
      <h3>Михайло Єрмаков</h3>
      <p lang="en">UI Designer</p>
    </li>
  </ul>
</section>
