<!-- Наша команда -->
<section class="team section">
  <div class="container">
    <h2 class="section-title">Наша команда</h2>
    <ul>
      <li class="team-item">
        <img
          src="./images/team/img-1.jpg"
          alt="Ігор Дем'яненко"
          width="270"
          height="260"
        />
        <div class="team-wrap">
          <h3 class="team-subtitle">Ігор Дем'яненко</h3>
          <p lang="en">Product Designer</p>
        </div>
      </li>
      <li class="team-item">
        <img
          src="./images/team/img-2.jpg"
          alt="Ольга Рєпіна"
          width="270"
          height="260"
        />
        <div class="team-wrap">
          <h3 class="team-subtitle">Ольга Рєпіна</h3>
          <p lang="en">Frontend Developer</p>
        </div>
      </li>
      <li class="team-item">
        <img
          src="./images/team/img-3.jpg"
          alt="Микола Тарасов"
          width="270"
          height="260"
        />
        <div class="team-wrap">
          <h3 class="team-subtitle">Микола Тарасов</h3>
          <p lang="en">Marketing</p>
        </div>
      </li>
      <li class="team-item">
        <img
          src="./images/team/img-4.jpg"
          alt="Михайло Єрмаков"
          width="270"
          height="260"
        />
        <div class="team-wrap">
          <h3 class="team-subtitle">Михайло Єрмаков</h3>
          <p lang="en">UI Designer</p>
        </div>
      </li>
    </ul>
  </div>
</section>
