<!-- Наша команда -->
<section class="team section">
  <div class="container">
    <h2 class="section-title">Наша команда</h2>
    <ul class="card-set">
      <li class="team-item card-item">
        <img
          src="./images/team/img-1.jpg"
          alt="Ігор Дем'яненко"
          width="270"
          height="260"
        />
        <div class="team-wrap">
          <h3 class="team-subtitle">Ігор Дем'яненко</h3>
          <p class="team-descr" lang="en">Product Designer</p>
          <ul class="social-list">
            <li class="social-item">
              <a
                class="social-link"
                href=""
                target="_blank"
                rel="noopener noreferrer"
                area-label="instagram"
              >
                <svg class="social-icons" width="20" height="20">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                href=""
                target="_blank"
                rel="noopener noreferrer"
                area-label="twitter"
              >
                <svg class="social-icons" width="20" height="20">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                href=""
                target="_blank"
                rel="noopener noreferrer"
                area-label="facebook"
              >
                <svg class="social-icons" width="20" height="20">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                href=""
                target="_blank"
                rel="noopener noreferrer"
                area-label="linkedin"
              >
                <svg class="social-icons" width="20" height="20">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item card-item">
        <img
          src="./images/team/img-2.jpg"
          alt="Ольга Рєпіна"
          width="270"
          height="260"
        />
        <div class="team-wrap">
          <h3 class="team-subtitle">Ольга Рєпіна</h3>
          <p class="team-descr" lang="en">Frontend Developer</p>
          <ul class="social-list">
            <li class="social-item">
              <a
                class="social-link"
                href=""
                target="_blank"
                rel="noopener noreferrer"
                area-label="instagram"
              >
                <svg class="social-icons" width="20" height="20">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                href=""
                target="_blank"
                rel="noopener noreferrer"
                area-label="twitter"
              >
                <svg class="social-icons" width="20" height="20">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                href=""
                target="_blank"
                rel="noopener noreferrer"
                area-label="facebook"
              >
                <svg class="social-icons" width="20" height="20">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                href=""
                target="_blank"
                rel="noopener noreferrer"
                area-label="linkedin"
              >
                <svg class="social-icons" width="20" height="20">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item card-item">
        <img
          src="./images/team/img-3.jpg"
          alt="Микола Тарасов"
          width="270"
          height="260"
        />
        <div class="team-wrap">
          <h3 class="team-subtitle">Микола Тарасов</h3>
          <p class="team-descr" lang="en">Marketing</p>
          <ul class="social-list">
            <li class="social-item">
              <a
                class="social-link"
                href=""
                target="_blank"
                rel="noopener noreferrer"
                area-label="instagram"
              >
                <svg class="social-icons" width="20" height="20">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                href=""
                target="_blank"
                rel="noopener noreferrer"
                area-label="twitter"
              >
                <svg class="social-icons" width="20" height="20">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                href=""
                target="_blank"
                rel="noopener noreferrer"
                area-label="facebook"
              >
                <svg class="social-icons" width="20" height="20">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                href=""
                target="_blank"
                rel="noopener noreferrer"
                area-label="linkedin"
              >
                <svg class="social-icons" width="20" height="20">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item card-item">
        <img
          src="./images/team/img-4.jpg"
          alt="Михайло Єрмаков"
          width="270"
          height="260"
        />
        <div class="team-wrap">
          <h3 class="team-subtitle">Михайло Єрмаков</h3>
          <p class="team-descr" lang="en">UI Designer</p>
          <ul class="social-list">
            <li class="social-item">
              <a
                class="social-link"
                href=""
                target="_blank"
                rel="noopener noreferrer"
                area-label="instagram"
              >
                <svg class="social-icons" width="20" height="20">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                href=""
                target="_blank"
                rel="noopener noreferrer"
                area-label="twitter"
              >
                <svg class="social-icons" width="20" height="20">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                href=""
                target="_blank"
                rel="noopener noreferrer"
                area-label="facebook"
              >
                <svg class="social-icons" width="20" height="20">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-item">
              <a
                class="social-link"
                href=""
                target="_blank"
                rel="noopener noreferrer"
                area-label="linkedin"
              >
                <svg class="social-icons" width="20" height="20">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
