.btn {
  border: none;
  border-radius: var(--border-radius);
  @include font(700, 16px, calc(30 / 16), 0.06em);
  color: var(--white-txt-cl);
  background-color: var(--accent-cl);
  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-hovered-cl);
  }
}
