// Фільтр
.filter {
  @include section(60px, 40px);

  @media screen and (max-width: 767px) {
    margin-top: 64px;
  }
  @media screen and (min-width: 768px) {
    @include section(60px, 30px);
    margin-top: 82px;
  }

  @media screen and (min-width: 1200px) {
    @include section(94px);
  }
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 326px;
  gap: 10px;
  margin-bottom: 40px;

  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.filter__btn {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-txt-cl);
  background-color: var(--background-light-cl);
  border-radius: 4px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  @media screen and (min-width: 480px) {
    font-size: 16px;
  }

  &:hover,
  &:focus,
  &:checked + & {
    color: var(--white-txt-cl);
    background-color: var(--accent-cl);
    box-shadow: var(--filter-btn-shadow);
  }
}
