// Фільтр
.filter-list {
  margin-bottom: 50px;
}

.filter-btn {
  font-weight: 500;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: var(--title-txt-cl);
  background-color: var(--background-light-cl);

  border-radius: 4px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-txt-cl);
  background-color: var(--accent-cl);
}
