.join {
  margin-left: 70px;
}

.join-title {
  color: var(--white-txt-cl);
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.join-input::placeholder {
  font-style: italic;
}
