.logo {
  font-family: var(--logo-font);
  font-size: var(--fs-logo);
  line-height: var(--lh-logo);
  letter-spacing: 0.03em;
  color: var(--accent-cl);

  &--black {
    color: var(--black-txt-cl);
  }

  &--white {
    color: var(--white-txt-cl);
  }
}
