.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-cl);
  backdrop-filter: blur(2px);
  transition-property: opacity, visibility;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  width: 528px;
  height: auto;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  background-color: var(--background-white-cl);
  border-radius: 4px;
  box-shadow: var(--modal-shadow);
  transition-property: transform, opacity;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  .backdrop.is-hidden & {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0) rotate(90deg);
  }
}

.close__btn {
  @extend %centeredFlex;
  position: absolute;
  top: 8;
  right: 8;
  width: 30px;
  height: 30px;
  padding: 0;
  border-width: 1px;
  border-radius: 50%;
  border-color: var(--btn-border-cl);
  background-color: transparent;
  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    fill: var(--accent-cl);
  }
}

.modal__title {
  display: block;
  font-size: 20px;
  line-height: calc(23 / 20);
  color: var(--title-txt-cl);
  text-align: center;
  margin-bottom: 12px;
}

.modal-form__agreement-label {
  @extend %centeredFlex;
  gap: 8px;
  cursor: pointer;
  margin-bottom: 30px;
}

.modal-form__agreement-input {
  display: none;
}

.modal-form__agreement-icon {
  color: var(--icon-modal-cl);
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  .modal-form__agreement-label:hover & {
    color: var(--accent-cl);
  }
}

.modal-form__agreement-unchecked {
  fill: currentColor;
}

.modal-form__agreement-checked {
  opacity: 0;
  transition-property: opacity;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  .modal-form__agreement-input:checked + .modal-form__agreement-icon & {
    opacity: 1;
  }
}

.modal-form__agreement-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.modal-form__agreement-link {
  text-decoration: underline;
  text-underline-position: under;
  color: var(--accent-cl);
}

.modal-form__btn {
  @extend %centeredFlex;
  margin: 0 auto;
  padding-top: 10px;
  padding-right: 52px;
  padding-bottom: 10px;
  padding-left: 52px;
  box-shadow: var(--modal-btn-shadow);
}
