.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
  color: var(--title-txt-cl);
}

.nav-list {
  display: flex;
  margin-left: 93px;
}

.nav-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-cl);
}

.nav-link--current {
  position: relative;
  color: var(--accent-cl);
}

.nav-link--current::after {
  position: absolute;
  left: 0;
  bottom: -1;
  content: '';

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--accent-cl);
}
