.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
  color: var(--title-txt-cl);
}

.nav-list {
  display: flex;
  margin-left: 93px;
}

.nav-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-cl);
}

.nav-link--current {
  color: var(--accent-cl);
}
