.social__list {
  @extend %centeredFlex;
  gap: 10px;
}

.social__link {
  @extend %centeredFlex;
  border-radius: 50%;
  color: var(--icon-cl);
  width: 44px;
  height: 44px;
  transition-property: color, background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--white-txt-cl);
    background-color: var(--accent-cl);
  }
}

.social__link--dark {
  color: var(--white-txt-cl);
  background-color: var(--background-dark-social-bg-cl);
}

.social__icons {
  fill: currentColor;
}
