.subscribe__title {
  color: var(--white-txt-cl);
  font-size: var(--fs-subscribe-title);
  line-height: var(--lh-subscribe-title);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe__form {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 12px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
  }
}

.subscribe__input {
  border-width: 1px;
  border-style: solid;
  width: 100%;
  height: 50px;
  border-color: var(--subscribe-input-border-cl);
  border-radius: var(--border-radius);
  padding-left: 16px;
  padding-right: 16px;
  outline: none;
  color: var(--white-txt-cl);
  background-color: transparent;
  box-shadow: var(--subscribe-shadow);
  transition-property: border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }

  &:hover,
  &:focus {
    border-color: var(--accent-cl);
  }

  &::placeholder {
    font-style: italic;
  }
}

.subscribe__btn {
  @extend %centeredFlex;
  min-width: 200px;
  height: 50px;
  box-shadow: var(--subscribe-shadow);

  @media screen and (max-width: 1199px) {
    margin: 0 auto;
  }
}

.subscribe__icon {
  fill: #fff;
  margin-left: 10px;
}
