.subscribe__title {
  color: var(--white-txt-cl);
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe__form {
  display: flex;
  gap: 12px;
}

.subscribe__input {
  height: 50px;
  width: 358px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--subscribe-input-border-cl);
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  outline: none;
  color: var(--white-txt-cl);
  background-color: transparent;
  box-shadow: var(--subscribe-shadow);
  transition-property: border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    border-color: var(--accent-cl);
  }

  &::placeholder {
    font-style: italic;
  }
}

.subscribe__btn {
  @extend %centeredFlex;
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 28px;
  box-shadow: var(--subscribe-shadow);
}

.subscribe__icon {
  fill: #fff;
  margin-left: 10px;
}
