.clients {
  @include section();

  @media screen and (min-width: 1200px) {
    @include section(94px, 94px);
  }
}

.clients-title {
  @extend %section-title;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.clients__list {
  --item: 1;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 320px) {
    --item: 2;
  }

  @media screen and (min-width: 768px) {
    --item: 3;
  }

  @media screen and (min-width: 1200px) {
    --item: 6;
  }
}

.clients__link {
  @extend %centeredFlex;
  outline: 1px solid var(--icon-cl);
  border-radius: var(--border-radius);
  fill: var(--icon-cl);
  padding-top: 16px;
  padding-bottom: 16px;
  transition-property: fill, outline;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    outline: 1px solid var(--accent-cl);
    fill: var(--accent-cl);
  }
}
