.contacts-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts__wrap {
  padding: 50px;
}

.contacts__list {
  font-size: 18px;
  line-height: calc(36 / 18);
}

.contacts__link {
  @extend %align-list;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}

.contacts__icon {
  margin-right: 10px;
  color: var(--icon-contacts-cl);
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  .contacts__link:hover &,
  .contacts__link:focus & {
    color: var(--accent-cl);
  }
}

.contacts__icon-use {
  stroke: currentColor;
}
