.contacts-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts-wrap {
  padding: 50px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.contacts-title {
  font-size: 18px;
  line-height: calc(24 / 18);
  // color: var(--title-txt-cl);
}
