.contacts-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts-wrap {
  padding: 50px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}
