.feature {
  @include section();
  --item: 1;

  @media screen and (min-width: 768px) {
    --item: 2;
  }

  @media screen and (min-width: 1200px) {
    --item: 4;
    @include section(94px, 94px);
  }
}

.feature-container {
  display: block;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background-color: var(--background-light-cl);
  border-radius: 4px;
}

.feature__title {
  font-size: var(--fs-feature-title);
  line-height: var(--lh-feature-title);
  color: var(--title-txt-cl);
  text-align: center;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.feature__descr {
  font-size: var(--fs-feature-descr);
  line-height: var(--lh-feature-descr);
}
