.footer {
  background-color: var(--background-dark-cl);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-address {
  font-size: 14px;
  font-style: inherit;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address_descr {
  color: var(--white-txt-cl);
}

.footer-address_contacts {
  color: var(--white-transparent-txt-cl);
}
