.header {
  display: none;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.header__container {
  @extend %align-list;
}

.header__nav-list {
  margin-left: 93px;
}

.header-contacts__list {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.header-contacts__link {
  @extend %align-list;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-cl);
  }
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.header__line {
  border-bottom: 1px solid var(--header-border-cl);
}
