.header {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.site-nav {
  color: var(--title-txt-cl);
}

.header-link:hover {
  color: var(--accent-cl);
}
