.header {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 25px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
  color: var(--title-txt-cl);
}

.nav-list {
  display: flex;
  margin-left: 93px;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link:hover {
  color: var(--accent-cl);
}

.header-contacts__list {
  display: flex;
  margin-left: auto;
}
