.hero {
  background-color: var(--background-dark-cl);
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  color: var(--white-txt-cl);
  text-transform: uppercase;
}

.hero-btn {
  min-width: 216px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
}
