.team {
  background-color: var(--background-light-cl);
}

.team__title {
  margin-bottom: 50px;
}

.team__list {
  --item: 4;
}

.team__item {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: var(--background-white-cl);
  box-shadow: var(--team-card-shadow);
}

.team__wrap {
  padding: 30 10;
  text-align: center;
}

.team__subtitle {
  font-weight: 500;
  line-height: calc(19 / 16);
  color: var(--title-txt-cl);
  margin-bottom: 10px;
}

.team__descr {
  margin-bottom: 16px;
}
